html, body, header, h1 {
  margin: 0;
  padding: 0;
}

a {
  color: #495C83;
  font-weight: bold;
}

header {
  height: 100vh;
  background-color: #A8A4CE;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #495C83;
  font-size: 5.65rem;
  font-family: 'Caveat', cursive;
}

h2 {
  color: #495C83;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

h3 {
  color: #495C83;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}

header p {
  color: #495C83;
  font-size: 2.8rem;
  font-family: 'Caveat', cursive;
}

p {
  color: #495C83;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
}

hr {
  width: 10vw;
  height: 0;
  border-style: dotted none none none;
  border-top-width: 15px;
  border-color: #495C83;
  margin-top: 20px;
  margin-bottom: 20px;

}

li {
  color: #495C83;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

footer {
  width:100vw;
  background-color: #A8A4CE;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.note1 {
  width: 150px;
  position: relative;
  left: 300px;
}

.note2 {
  width: 150px;
  position: relative;
  right: 300px;
}

.presentation {
  width: 100vw;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;

  background-color: #FAF6FF;
}

.description {
  width: 50vw;
}

.profil-image {
  width: 15%;
  margin-top: 20px;
}

/* Skills */
.skill-row-left {
  width: 50vw;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-row-right {
  width: 50vw;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.skill-description {
  display: flex;
  flex-direction: column;
}

.skill-paragraphe {
  line-height: 2rem;
}

.skill-image-left {
  width: 15%;
  height: 15%;
  margin-right: 20px;
}

.skill-image-right {
  width: 15%;
  height: 15%;
  margin-left: 20px;
}

.certifications {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 40px;
}

.certification-image {
  width: 10%;
  display: inline;

}

/* Experience */
.experience {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-row-left {
  width: 50vw;
  display:flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.experience-image-left {
  width: 15%;
  height: 15%;
  margin-right: 20px;
}

.experience-row-right {
  width: 50vw;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 50px;
}

.experience-image-right {
  width: 15%;
  height: 15%;
  margin-left : 20px;
}

.experience-dates {
  font-style: italic;
  font-weight: lighter;
}

/* School */
.school {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.school-row {
  width: 50vw;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.school-image {
  width:15%;
  height: 15%;
  margin-right: 20px;
}

.school-dates {
  font-style: italic;
  font-weight: lighter;
}


.footer-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
